---
import { getCollection } from "astro:content";
import CategoryWithGallery from "../../components/CategoryWithGallery.astro";
import FloatingMenu from "../../components/FloatingMenu.astro";
import Layout from "../../layouts/Layout.astro";

export const prerender = true;

export async function getStaticPaths() {
  const items = await getCollection("items");
  
  const categories = [...new Set(items.map(i => i.data.category))];

  return categories.map(category => ({
    params: { slug: category },
  }));
}

const { slug } = Astro.params;
const items = await getCollection("items");
const itemsInCategory = items.filter(item => item.data.category === slug);

if (!itemsInCategory.length) {
  throw new Error(`No hay items para categoría ${slug}`);
}

const categoryTitle = slug
  .replace(/-/g, " ")
  .replace(/\b\w/g, c => c.toUpperCase());

const categoryDescription = itemsInCategory[0].data.description ?? "";
---

<html>
  <body>
    <Layout>
      <main class="max-w-screen-xl mx-auto pb-20">
        <CategoryWithGallery
          itemsInCategory={itemsInCategory}
          categoryInfo={{
            title: categoryTitle,
            description: categoryDescription,
          }}
        />
      </main>
      <FloatingMenu />
    </Layout>
  </body>
</html>