---
const footerLinks = [
  {
    links: [
      { text: "GRANNY HALL", href: "/categories/granny-hall" },
      {
        text: "FRENCH GASTRONOMY",
        href: "/categories/granny-hall/french-gastronomy",
      },
      { text: "CRAFTS", href: "/categories/granny-hall/crafts" },
      //{ text: "1 TIM 4:12", href: "/categories/granny-hall/1tim4-12" },
      { text: "HANDS ON GARDEN", href: "/categories/granny-hall/hands-garden" },
    ],
  },
  {
    links: [
      { text: "ART FESTIVAL", href: "/categories/art-festival" },
      { text: "PERFORMING ART", href: "/categories/art-festival/performing-arts" },
      { text: "SCHOOL BAND ", href: "/categories/art-festival/school-band" },
      { text: "DANCE AND CHOREOGRAPHY", href: "/categories/art-festival/dance-choreography" },
      { text: "VISUAL ART", href: "/categories/art-festival/visual-art" },
    ],
  },
  {
    links: [
      { text: "STARS CUP", href: "/categories/stars-cup" },
      { text: "BASKETBALL", href: "/categories/stars-cup/basketball" },
      { text: "FOOTBALL 8", href: "/categories/stars-cup/football8" },
      { text: "VOLLEYBALL", href: "/categories/stars-cup/volleyball" },
      { text: "TABLE TENNIS", href: "/categories/stars-cup/table-tennis" },
      { text: "KARATE", href: "/categories/stars-cup/karate" },
      { text: "CHEERLEADERS", href: "/categories/stars-cup/cheerleaders" },
      { text: "CHESS", href: "/categories/stars-cup/chess" },
      { text: "DODGEBALL - BATTLEBALL", href: "/categories/stars-cup/dodgeball-battleball" },
      { text: "ULTIMATE FRISBEE", href: "/categories/stars-cup/ultimate-frisbee" },
    ],
  },
  {
    links: [
      { text: "ECONOMÍA y FINANZAS", href: "/categories/economia-finanzas" },
      {
        text: "ECONOMÍA y FINANZAS",
        href: "/categories/economia-finanzas/economia-finanzas",
      },
    ],
  },
];

const giantText = "THALENTIA".split("");
---

<footer
  class="bg-[#507687] text-[#FFFCFB] pt-10 px-6 md:px-10 w-full font-sans"
>
  <div
    class="max-w-7xl mx-auto grid grid-cols-1 md:grid-cols-3 gap-12 pb-12 border-b border-white/30"
  >
    <div class="md:col-span-2 grid grid-cols-2 md:grid-cols-4 gap-6">
      {
        footerLinks.map((group) => (
          <div>
            <ul class="space-y-1 text-sm md:text-base">
              {group.links.map((link) => (
                <li>
                  <a
                    href={link.href}
                    class="hover:text-[#9B177E] font-medium transition-colors duration-200"
                  >
                    {link.text}
                  </a>
                </li>
              ))}
            </ul>
          </div>
        ))
      }
    </div>

    <div class="space-y-4 bg-white/10 p-6 rounded-lg backdrop-blur-sm border border-white/10">
      <div class="flex items-center gap-2">
        <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 text-[#FFFCFB]" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
          <path stroke-linecap="round" stroke-linejoin="round" d="M16 11V7a4 4 0 00-8 0v4M5 9h14l1 12H4L5 9z" />
        </svg>
        <h4 class="text-xl font-bold text-[#FFFCFB] tracking-wide">Tienda Escolar</h4>
      </div>
      
      <p class="text-sm md:text-base text-white/90 leading-relaxed font-light">
         Recuerda que la tienda escolar permanece habilitada durante toda la 
        <span class="font-semibold text-white">jornada de academias</span>. Un espacio pensado para que los estudiantes puedan adquirir de manera cómoda y rápida cualquier producto que necesiten a lo largo de sus actividades.
      </p>
    </div>
  </div>

  <div class="relative w-full overflow-hidden mt-12">
    <div class="flex justify-center gap-3 md:gap-5">
      {
        giantText.map((letter) => (
          <span class="block text-[40px] md:text-[180px] lg:text-[350px] leading-none font-bold transition-transform duration-300 md:translate-y-[50%] translate-y-[30%] hover:translate-y-0 font-mifuente drop-shadow-[0_0_10px_black]">
            {letter}
          </span>
        ))
      }
    </div>
  </div>
</footer>