---

---

<section class="relative w-full h-screen overflow-hidden">
  <video
    autoplay
    muted
    loop
    playsinline
    class="absolute top-0 left-0 w-full h-full object-cover"
  >
    <source src="/VideoIndex.mp4" type="video/mp4" />
  </video>
  <div
    class="relative z-10 flex flex-col items-center justify-center h-full text-center bg-black/15 backdrop-blur-sm rounded-xl p-6"
  >
    <img
      src="/LogoGrande.png"
      alt="Thalentia Academy Logo"
      class="w-80 md:w-120 lg:w-120 xl:w-[62rem] mx-auto"
    />
    <p
      class="text-white text-lg sm:text-2xl lg:text-3xl leading-relaxed tracking-wide font-medium max-w-lg lg:max-w-2xl xl:max-w-6xl"
    >
      Tu tarde. Tu espacio. Tu momento. Muévete. Crea. Prueba. Encuentra lo que
      más te gusta y hazlo mejor cada día. Deporte, arte, nuevos hobbies, retos
      reales. Sin presión innecesaria, pero con la autodisciplina que te hace
      mejor. Aquí no vienes a pasar el tiempo. Vienes a sumar logros, construir
      confianza y descubrir de qué estás hecho y todo lo que te gusta ser y
      hacer. Después de clases… sigue con lo que amas.
    </p>
  </div>
</section>
