<div
id="profileModal"
class="
hidden
fixed
inset-0
bg-black/60
flex
justify-center
items-center
z-50
"
>

<div
class="
bg-white
rounded-xl
p-8
w-[350px]
text-black
"
>

<h2 class="text-xl mb-4">

Completa tu información

</h2>


<p class="mb-4">

Selecciona tu curso

</p>


<select
id="curso"
class="
border
p-2
w-full
rounded
"
>

<option value="">
Selecciona
</option>

<option>6A</option>
<option>6B</option>

<option>7A</option>
<option>7B</option>

<option>8A</option>
<option>8B</option>

<option>9A</option>
<option>9B</option>

<option>10A</option>
<option>10B</option>

<option>11A</option>
<option>11B</option>

</select>



<button

id="guardarPerfil"

class="
mt-5
bg-green-600
text-white
px-4
py-2
rounded
w-full
"

>

Guardar

</button>

</div>

</div>


<script>

import "../scripts/profileSetup";

</script>