---
import Footer from "../components/Footer.astro";
import "../styles/global.css";
const { children } = Astro.props;
import UserMenu from "../components/UserMenu.astro";
import ProfileSetup
from "../components/ProfileSetup.astro";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mi Página</title>
  </head>
  <body >
      <slot />
    <Footer />
    <UserMenu />
    <ProfileSetup/>
    <script>

import "../scripts/initAuth";

</script>
  </body>
</html>
